@font-face {
  font-family: "Google Sans";
  font-style: normal;
  src: url(assets/fonts/GoogleSans/GoogleSans-Regular.otf) format("OpenType");
}

@font-face {
  font-family: "Google Sans";
  font-style: italic;
  src: url(assets/fonts/GoogleSans/GoogleSans-Italic.otf) format("OpenType");
}

@font-face {
  font-family: "Google Sans";
  font-style: normal;
  font-weight: bold;
  src: url(assets/fonts/GoogleSans/GoogleSans-Bold.otf) format("OpenType");
}

@font-face {
  font-family: "Google Sans Thin";
  font-style: normal;
  src: url(assets/fonts/GoogleSans/GoogleSans-Thin.otf) format("OpenType");
}

@font-face {
  font-family: "Google Sans Medium";
  font-style: normal;
  src: url(assets/fonts/GoogleSans/GoogleSans-Medium.otf) format("OpenType");
}
